@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using GoodRecipes.Models

 <div class="navbar-item">

        <a class="nav-link button is-secondary is-rounded has-icons-left" asp-area="Identity" asp-page="/Account/Register">
            <span class="icon">
                <i class="fa-solid fa-user-plus"></i>
            </span>
            <span>Register</span>
        </a>
    </div>
    <div class="navbar-item">
        <a class="nav-link button is-primary is-rounded has-icons-left" asp-area="Identity" asp-page="/Account/Login">
            <span class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Login</span>
        </a>
    </div>